name: Deploy Real-Time-Finance-Data

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      # 1️⃣ Checkout du code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # 3️⃣ Installer les dépendances
      - name: Install dependencies
        run: npm install

      # 4️⃣ Build TypeScript
      - name: Build TypeScript
        run: npx tsc

      # 5️⃣ Déployer sur Fly.io
      - name: Deploy to Fly.io
        uses: superfly/flyctl-actions@1.1
        with:
          args: deploy --remote-only
